/* Main section style */
main{
    background-color: var(--light-color);
    flex: 1;
    min-height: 100vh;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--default-padding);
    margin: 4rem calc(var(--default-padding) * 2.3);
}

.dueDate::before{
    content: "Due date: ";
    font-size: small;
    font-weight: 700;
}

.priority::before{
    content: "Priority: ";
    font-size: small;
    font-weight: 700;
}

dialog .project::before{
    content: "Project: ";
    font-size: small;
    font-weight: 700;
}

.list > div {
    border-radius: var(--borders);
    background-color:white;
    border: solid 1px black;
    padding: var(--default-padding);
    max-width: clamp(max(25%,270px), 15%, calc(350px + 5vw));
}

.simpleCard {
    display: flex;
    gap: var(--default-spacing);
    flex-flow:row wrap;
    align-items: center;
}

.simpleCard h3 {
    flex:1 0 80%;
}

.simpleCard > input[type="checkbox"] {
    cursor: pointer; 
    width: 30px;
    height: 30px;
    order: -1;
}

.fullCard {
    display: flex;
    flex-flow:column wrap;
    gap: calc(var(--default-spacing) * 2);
    padding: var(--default-padding);
    font-size: 1.2rem;
    width: 80%;
    max-width: 50rem;
}

dialog .fullCard  *::before{
    font-size: 1.2rem;
}

.updateTask {
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: var(--default-spacing);
    justify-content:center;
    grid-area:7/1/8/3;
}

.updateTask > button {
    cursor: pointer; 
    padding: calc(var(--default-padding) / 2);
    border: none;
    border-radius: var(--borders);
    color: white;
}

.updateTask .detailsBtn{
    background-color: black;
}

.updateTask .detailsBtn:hover{
    background-color: lightslategray;
}

.updateTask .editBtn{
    background-color: var(--strong-color);
}

.updateTask .editBtn:hover{
    background-color: var(--light-color);
    color: black;
}

.updateTask .removeBtn{
    background-color: var(--warning-color);
}

.updateTask .removeBtn:hover{
    background-color: var(--warning-light-color);
}

dialog {
    display: block;
    margin: auto;
    padding: var(--default-padding);
    border-radius: 1rem;
    position: relative;
}

.editForm{
    display: block;
    margin: 4rem auto;
    width: 75%;
    max-width: 50rem;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: var(--default-spacing);
    background-color: white;
    padding: var(--default-padding);
    border-radius: 1rem;
}

form textarea{
    height: 7rem;
    resize: none;
}

form, dialog label {
    font-size: 1.2rem;
}

form input, form textarea, form select {
    font-size: 1.1rem;
    border-radius:0.5rem;
    background-color: rgb(221, 218, 218);
    padding: 0.4rem;
    border: none;
}

dialog svg{
    position: absolute;
    top: 1px;
    right: 1px;
    margin: 10px;
    width: 2rem;
    height: auto;
    cursor: pointer;
}

form button {
    cursor: pointer; 
    padding: calc(var(--default-padding)/1.5);
    background-color: var(--strong-color);
    border: none;
    border-radius: var(--borders);
    color: white;
    width: max-content;
    padding: var(--default-padding);
    margin: auto;
}

form button:hover {
    background-color: var(--light-color);
    color: black;
}

.list > .project {
    display: flex; 
    cursor: pointer;
    column-gap: var(--default-spacing);
    align-items: center;
    border-radius: var(--borders);
    background-color:white;
    border: solid 1px black;
    padding: var(--default-padding);
    max-width: clamp(max(25%,270px), 15%, calc(350px + 5vw));
}