/* Main section style */
main{
    background-color: var(--light-color);
    flex: 1;
    min-height: 100vh;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--default-padding);
    margin: calc(var(--default-padding) * 2.3);
}

.list > div {
    display: grid;
    align-items: center;
    border-radius: var(--borders);
    background-color:white;
    border: solid 1px black;
    padding: var(--default-padding);
    max-width: clamp(max(25%,270px), 15%, calc(350px + 5vw));
}

.list .taskContainer h3{
    grid-area:1/2/2/5;
}

.list .taskContainer input[type="checkbox"]{
    grid-area:1/1/2/2;
    cursor: pointer; 
    width: 30px;
    height: 30px;
}

.list .taskContainer p {
    grid-area:2/1/3/5;
}

.list .taskContainer .dueDate{
    grid-area:3/2/4/5;
}

.list .taskContainer .priority{
    grid-area:3/1/4/2;
}

.updateTask {
    display: flex;
    gap: var(--default-spacing);
    grid-area:5/1/5/6;
}

.updateTask > button {
    cursor: pointer; 
    padding: calc(var(--default-padding) / 1.5);
    border: none;
    border-radius: var(--borders);
    color: white;
}

.updateTask .editBtn{
    background-color: var(--strong-color);
}

.updateTask .editBtn:hover{
    background-color: var(--light-color);
    color: black;
}

.updateTask .removeBtn{
    background-color: var(--warning-color);
}

.updateTask .removeBtn:hover{
    background-color: var(--warning-light-color);
}

dialog {
    display: block;
    margin: auto;
    padding: calc(var(--default-padding) + 0.5rem);
    position: relative;
}

dialog form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: var(--default-spacing);
}

dialog textarea{
    height: 7rem;
    resize: none;
}

dialog form, dialog label {
    font-size: 1.2rem;
}

dialog input, dialog textarea, dialog select {
    font-size: 1.1rem;
    border-radius:0.5rem;
    background-color: rgb(221, 218, 218);
    padding: 0.4rem;
    border: none;
}

dialog svg{
    position: absolute;
    top: 1px;
    right: 1px;
    margin: 10px;
    width: 2rem;
    height: auto;
    cursor: pointer;
}

dialog button {
    cursor: pointer; 
    padding: calc(var(--default-padding)/1.5);
    background-color: var(--strong-color);
    border: none;
    border-radius: var(--borders);
    color: white;
    width: max-content;
    padding: var(--default-padding);
    margin: auto;
}

dialog button:hover {
    background-color: var(--light-color);
    color: black;
}

.list .project {
    display: flex; 
    cursor: pointer;
    column-gap: var(--default-spacing);
}