/* Main section style */
main{
    background-color: var(--light-color);
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--default-padding);
    margin: var(--default-padding);
}

.list > div {
    display: grid;
    /* grid-template-columns:minmax(2rem,15%) 3fr;
    grid-template-rows:repeat(auto-fit, 1fr); */
    align-items: center;
    border-radius: var(--borders);
    background-color:white;
    border: solid 1px black;
    padding: var(--default-padding);
    max-width: clamp(max(25%,270px), 15%, calc(350px + 5vw));
}

.list > div h3{
    grid-area:1/2/2/5;
}

.list > div input[type="checkbox"]{
    grid-area:1/1/2/2;
    cursor: pointer; 
    width: 30px;
    height: 30px;
}

.list > div p {
    grid-area:2/1/3/5;
}

.list > div .dueDate{
    grid-area:3/2/4/5;
}

.list > div .priority{
    grid-area:3/1/4/2;
}

.updateTask {
    grid-area:4/4/5/5;
}

.updateTask > button {
    cursor: pointer; 
    padding: calc(var(--default-padding)/1.5);
    background-color: var(--strong-color);
    border: none;
    border-radius: var(--borders);
    color: white;
}

.updateTask > button:hover{
    background-color: var(--light-color);
    color: black;
}

dialog {
    display: block;
    margin: auto;
    padding: calc(var(--default-padding) + 0.5rem);
    position: relative;
}

dialog form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: var(--default-spacing);

}

dialog textarea{
    height: 7rem;
    resize: none;
}

dialog form, dialog label {
    font-size: 1.2rem;
}

dialog input, dialog textarea, dialog select {
    font-size: 1.1rem;
    border-radius:0.5rem;
    background-color: rgb(221, 218, 218);
    padding: 0.4rem;
    border: none;
}

dialog svg{
    position: absolute;
    top: 1px;
    right: 1px;
    margin: 10px;
    width: 2rem;
    height: auto;
    cursor: pointer;
}

dialog button {
    cursor: pointer; 
    padding: calc(var(--default-padding)/1.5);
    background-color: var(--strong-color);
    border: none;
    border-radius: var(--borders);
    color: white;
    width: max-content;
    padding: var(--default-padding);
    margin: auto;
}

dialog button:hover {
    background-color: var(--light-color);
    color: black;
}