/* Default styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --default-padding:1rem;
    --default-spacing:0.5rem;
    --borders:15px;
    --red-btn:rgb(167, 33, 33);
}

/* Header and Nav styles */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: var(--default-spacing);
    user-select: none;
    -webkit-user-select:none;
}

.logo-wrapper > svg {
    width: 2rem;
    height: auto;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    /* gap: var(--default-spacing); */
    align-items: center;
    list-style: none;
}

nav ul li {
    display: flex;
    align-items: center;
    /* gap: var(--default-spacing); */
    /* padding:  var(--default-spacing) var(--default-padding); */
    padding: var(--default-padding);
    cursor: pointer;
    user-select: none;
    -webkit-user-select:none;
}

nav ul li:hover, nav ul li.active{
    background-color: white;
}

/* Main section style */
.todo-list{
    display: grid;
    justify-content: center;
    grid-template-columns:repeat(auto-fit, minmax(25%, 40vw));
    gap:var(--default-padding);
    margin: var(--default-padding);
}

.todo-list > div {
    display: grid;
    /* grid-template-columns:minmax(2rem,15%) 3fr;
    grid-template-rows:repeat(auto-fit, 1fr); */
    align-items: center;
    border-radius: var(--borders);
    background-color: antiquewhite;
    padding: calc(var(--default-padding));
}

.todo-list > div h3{
    grid-area:1/2/2/5;
}

.todo-list > div input[type="checkbox"]{
    grid-area:1/1/2/2;
    cursor: pointer; 
    width: 30px;
    height: 30px;
}

.todo-list > div p {
    grid-area:2/1/3/5;
}

.todo-list > div .dueDate{
    grid-area:3/2/4/5;
    
}

.todo-list > div .priority{
    grid-area:3/1/4/2;
}

.removeTask {
    grid-area:4/4/5/5;
}

.removeTask > button {
    cursor: pointer; 
    padding: calc(var(--default-padding)/1.5);
    background-color: var(--red-btn);
    border: none;
    border-radius: var(--borders);
    color: white;
}

.removeTask > button:hover{
    background-color: rgb(218, 50, 50);
}
