* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    user-select: none;
    -webkit-user-select:none;
}

.logo-wrapper > svg {
    width: 2rem;
    height: auto;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
    list-style: none;
}

nav ul li {
    display: flex;
    align-items: center;
    gap:0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    user-select: none;
    -webkit-user-select:none;
}

nav ul li:hover, nav ul li.active{
    background-color: white;
}

.todo-list{
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.todo-list > div{
    outline: black solid 1px;
}

